:root {
	--body-bg: #ffffff;
	--cw-bg: #fff;
	--border: 2px solid #ddd;
	--left-msg-bg: #ececec;
	--right-msg-bg: #579ffb;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	padding: 5px;
	/* display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: var(--body-bg);
	font-family: 'IBM Plex Sans', sans-serif; */
}


.header {
	display: flex;
	justify-content: center;
	align-items: center;
}

#container {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	width: 100%;
	/* max-width: 1200px; */
	height: 90%;
	border: var(--border);
	border-radius: 5px;
}

#q-container {
	width: 70%;
}
#q-list {
	width: 30%;
}

.q-img {
	width: 90%;
}

.qcell {
	padding: 6px;
	border: 1px solid black;
	justify-content: center;
	align-items: center;
}
.rcell {
	padding: 6px;
	border: 1px solid black;
	justify-content: center;
	align-items: center;
}

button#open-form-button {
	margin-top: 3%;
	margin-bottom: 0%;
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
	padding: 3%;
	white-space: normal;
}


#popup-container {
    margin: auto;
    display: none;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 10%;
    bottom: 10%;
    background-color: rgba(0, 0, 0, 0);
    /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Ensure it appears on top of other content */
}

#popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#popup-content h2 {
    font-size: 24px;
}

/* Style the buttons as desired */
#agree-button,
#disagree-button {
    padding: 10px 20px;
    margin: 10px;
}

.container {
    margin: auto;
    display: none;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(5px);
    /* Ensure it appears on top of other content */
}

.popup-form-content {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.form-button {
    padding: 5px;
}

.close-button:hover {
    color: red;
    /* Change color on hover if desired */
}

h2 {
    font-size: 24px;
}

/* Style form elements as needed */
form {
    margin-top: 10px;
}

/**
 * ==============================================
 * Chat Waiting Dots Elastic
 * ==============================================
 */
 
#msg-waiting-asksherlock {
    background-color: #ffffff;
    .msg-bubble {
        background-color: #ffffff;
    }
}

.dot-elastic {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #777777;
  color: #777777;
  animation: dot-elastic 1s infinite linear;
}
.dot-elastic::before, .dot-elastic::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-elastic::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #777777;
  color: #777777;
  animation: dot-elastic-before 1s infinite linear;
}
.dot-elastic::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #777777;
  color: #777777;
  animation: dot-elastic-after 1s infinite linear;
}

@keyframes dot-elastic-before {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic-after {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.btn {
	margin-left: 10px;
	background: #0043ce;
	color: #fff;
	cursor: pointer;
	transition: background 0.23s;
}
.btn:hover {
	background: #002d9c;
	color: #fff;
}

.link {
	cursor: pointer;
}

.qcell.answered {
	background: #55ee55;
}
.qcell.unanswered {
	background: #ee9999;
}
.qcell.selected {
	background: #aaaaee;
}

.radio-label {
	padding-left:3%;
	cursor: pointer;
}
.radio {
	cursor: pointer;
	
}